/*Start*/

:root {
  --textColorA: #202020;
  --textColorB: #202020;
  --backgroundA: #e8d6b3;
  --backgroundB: #f8f8ff;

  --containerA: #e8d6b3;
  --containerB: #f8f8ff;

  --mainColor: #ffd9b3;
  --secondaryColor: #181818;
  --containerColor: #;
}

/*

Lightmode:
svart: #202020 <-- Tekstfarge
egghvit: #f8f8ff <-- Container
beige: #e8d6b3 <-- Bakgrunnsfarge

Darkmode:
hvit: #ffffff <-- Tekstfarge
Mørk grå/svart: #181818 <-- Bakgrunnsfarge
Lysere grå: #1e1d1d <-- Container

const root = document.querySelector(':root');

// set css variable
root.style.setProperty('--my-color', 'blue');
*/

body {
    margin: 0;
    padding: 0;
    font-family:'Lexend';
}

#siteSettings {
  color: var(--textColorA);
  background-color: var(--backgroundB);
}

.darkmodeClass {
  color: var(--textColorB);
  background-color: var(--backgroundA);
}

.lightmodeClass {
  color: var(--textColorA);
  background-color: var(--backgroundA);
}

/*
#ffd9b3

NEW
color: #000000; <-- Svart tekst
background-color: #ffd9b3; <-- Beige bakgrunnsfarge

OLD
color: #000000;
background-color: #ffffff;

*/

/*End*/
