/*Start*/

/*Fonts*/ /*Annen m책te 책 importere fonts p책*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');*/

/*MainView*/
#mainView {
    overflow: hidden;
    font-family:'Lexend';
}


/*Nav*/
#nav-bar {
    color: black;
    background-color:#F8F8FF;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0;
    width: 100%;
    height: 6rem;
    border-style:solid;
    border-bottom: black;
    flex-direction: row;
    
}

#nav-bar:last-child {
    justify-content: right;
}

/*#nav-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}*/

#nav-title {
    font-size: 4rem;
    /*font-family: 'Nosifer', sans-serif;*/
}



#nav-profile-content {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
right: 1%;
}

#nav-profile-text {
    font-size: 20px;
}

#nav-profile-picture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    margin: 2px 2px 2px 2px;
    border-radius: 100%;
    margin-right: 5px;
}

#drop-down-menu{
    color: black;
}

/*Search Bar*/
#search-bar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar-text {
    text-align: left;
}

/*Themes*/
#themeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
}

.themeDisplay {
    justify-items: center;
    align-content: center;
    font-size: 2rem;
    /*border-color: aqua;*/
    border-style: solid;
    margin: 1rem 1.5rem 1rem 1.5rem;
    height: 4rem;
    width: 8rem;
    font-family: 'Roboto', sans-serif;
}

#quiz-box-position{
    display: flex;
    flex: content;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    padding: 0 0 0 0;
}

#quiz-by-date{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#quiz-by-popularity{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

/*Legger til cursor p책 linker*/
.link-view {
    cursor: pointer;
}

/*Temp*/
#temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#darkModeSwitch{
    display: flex;
    position: fixed;
    right: 1%;
}

/*End*/