/*Start*/

:root {
    --mainColor: #ffd9b3;
    --secondaryColor: #181818;
}
/* const root = document.querySelector(':root');

// set css variable
root.style.setProperty('--my-color', 'blue');
*/
body {
    margin: 0;
    padding: 0;
}

#siteSettings {
    color: #000000;
    background-color: var(--mainColor);
}

.darkmodeClass {
    color: #ffffff;
    background-color: #181818;
}

.lightmodeClass {
    color: #202020;
    background-color: #ffffff;
}

/*
#ffd9b3

NEW
color: #000000; <-- Svart tekst
background-color: #ffd9b3; <-- Beige bakgrunnsfarge

OLD
color: #000000;
background-color: #ffffff;

*/

/*End*/
