/*Start*/

/*Fonts*/ /*Annen m책te 책 importere fonts p책*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');*/

/*MainView*/
#mainView {
    overflow: hidden;
}

/*Nav*/
#nav-bar {
    color: black;
    background-color: hsl(0, 69%, 43%);
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0;
    width: 100%;
}

#nav-bar:last-child {
    justify-content: right;
}

#nav-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

#nav-title {
    color: #344053;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Nosifer', sans-serif;*/
}

#nav-profile-content {
    display: flex;
    float: right;
    flex-direction: row;
    align-items: end;
    width: fit-content;
}

#nav-profile-text {
    color: black;
}

#nav-profile-picture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    margin: 2px 2px 2px 2px;
}

#drop-down-menu{
    color: black;
}

/*Search Bar*/
#search-bar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar-text {
    text-align: left;
}

/*Themes*/
#themeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
}

.themeDisplay {
    justify-items: center;
    align-content: center;
    font-size: 2rem;
    /*border-color: aqua;*/
    border-style: solid;
    margin: 1rem 1.5rem 1rem 1.5rem;
    height: 4rem;
    width: 8rem;
    font-family: 'Roboto', sans-serif;
}

/*Legger til cursor p책 linker*/
.link-view {
    cursor: pointer;
}

/*Temp*/
#temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*End*/