/*Start*/

body {
  margin: 0;
  padding: 0;
}

#siteSettings {
  color: #000000;
  background-color: #ffffff;
}

/*html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e8d6b3;
}

/*End*/
