/*Start*/

/*Fonts*/ /*Annen måte å importere fonts på*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');*/

/*MainView*/
#mainView{
    overflow: hidden;
}

/*Nav*/
#nav-bar{
    color: black;
    background-color: hsl(0, 69%, 43%);
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#nav-bar:last-child{
    justify-content: right;
}

#nav-bar-content{
    display: flex;
    align-items: center;
}

#nav-title {
    color: #344053;
    font-size: 3rem;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Nosifer', sans-serif;
}

#nav-profile-content {
    display: flex;
    justify-content: right;
}

#nav-profile-text {
    color: black;
}

#nav-profile-picture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    margin: 2px 2px 2px 2px;
}

/*Search Bar*/
#search-bar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar-text {
    text-align: left;
}

/*Temp*/
#temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-view {
    cursor: pointer;
}

/*End*/