#generalInfoContainer{
border: soild gray;
border-width: 50%;
margin-left: 10px;
font-size: large;


}

#headerContainer{
    align-items: center;
    justify-content: center;
    display: flex;

}

/*
#testbackgroundF{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #e8d6b3;
}
*/

#mainContainer{
    border: solid gray;
    margin: 50px;
    height: 1000px;
    background-color:var(--backgroundA);
}

#profilePic{
    border: solid gray;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 20px;
}

#profilePic img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid gray;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    background-size: cover;;
}

#profileButtonsContainer{
    text-align: right;
}

#myQuizesButton{
    height: 100px;
    width: 275px;
    margin-right: 20px;
}

#myResultsButton{
    height: 100px;
    width: 275px;
    margin-right: 20px
}

#backToMainButton{
    height: 100px;
    width: 275px;
}
