/*Start*/

#testbackgroundF{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--backgroundA);
}
#registerView{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundA);
}

#registerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--containerA);
    height: 45rem;
    width: 35rem;
    border-radius: 40px;
    margin-top: 97px;
    font-family:'Lexend';
}
#tittelCreatAcc{
    font-size: 70px;
}


#regInputUser{
    text-align: left;
    margin-bottom: 8px;
}

#regInputPass{
    text-align: left;
    margin-bottom: 8px;
    
}

#regInputName{
    text-align: left;
    margin-bottom: 8px;
    
}

#regInputAge{
    text-align: left;
    margin-bottom: 8px;
}

div.inputContainer {
    display: block;
}

    

#regInputMail{
    text-align: left;
    margin-bottom: 8px;
       
}

#regButton{
    margin-top: 5px;
}

.commonSize{
    width: 3rem;
}

#linkLoginP{
    cursor: pointer;
}

#linkLoginP:hover{
    color:#9e2828;
}

.temp-class{
    cursor: pointer;
}

.temp-class:hover{
    color:#9e2828;
}

.inputContainer{
    display: flex;
    align-items: flex;
    justify-content: flex-start;
}

/*End*/