/*Start*/

#registerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#regInputUser{
    text-align: left;
    margin-bottom: 5px;
}

#regInputPass{
    text-align: left;
}

#linkLoginP{
    cursor: pointer;
}

#linkLoginP:hover{
    color:#9e2828;
}

.temp-class{
    cursor: pointer;
}

.temp-class:hover{
    color:#9e2828;
}

/*End*/